/* Style the list */
ul.breadcrumb {
  padding-left: 0px;
  list-style: none;
  margin: 10px 0;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 0.8em;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  font-family: "Material Icons";
  content: "keyboard_arrow_right";
  position: relative;
  top: 3px;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .breadcrumb-wrapper {
    position: initial !important;
  }
}
