footer {
  position: relative;
  width: 100%;
  background-color: $Footer-color !important;
  color: $Fonte-Principal !important;
  font: 12px "Prompt", sans-serif;
  font-weight: 400;
  border-top: 6px solid $Footer-border-top !important;
  margin-top: 10vh;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.footer-wrapper {
  max-width: 425px;
  margin-top: 30px;
  line-height: 1.25;

  span {
    color: #616161;
    display: inline-block;
    font-size: 12px;
  }
}

.text-icon {
  display: inline-block;
  margin-right: 2px;
}

.dropdown-content li > span {
  color: #050938;
}

.developer-credits {
  margin-top: 20px;

  strong {
    font-weight: 700;
  }
}

@media only screen and (max-width: 600px) {
  .footer-wrapper {
    max-width: 315px;
  }

  .credits {
    margin-top: 15px;
  }
}
