.navbar-site nav {
  background: #050938;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  position: relative;
}

.navbar-site nav::after {
  content: "";
  position: absolute;

  height: 8px;
  width: 100%;
  background: #00bc02;

  bottom: -8px;
  left: 0;
}

.navbar-site nav::after {
  content: "";
  position: absolute;

  height: 8px;
  width: 100%;
  background: #00bc02;

  bottom: -8px;
  left: 0;
}

.navbar-desktop > .nav-wrapper {
  padding: 0px 5vw !important;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}
