.vs__search {
  height: 1rem;
}

.vs__dropdown-toggle {
  border: none;
}

.vs__selected {
  position: absolute;
  bottom: 20px;
}

.vs__selected-options {
  position: relative;
  top: -10%;
  padding-top: 15px;
  height: 50%;
}

.vs--single > .vs__dropdown-menu > li {
  list-style: none !important;
}

// outlined components
.selected-search__outline .vs__selected-options {
  padding-top: 0px;
}
.selected-search__outline .vs__search {
  border: 2px solid #eee !important;
  padding-left: 4px !important;
  width: calc(100% - 2.5rem);
  float: none;

  display: block;
  border-radius: 5px !important;
  transition: box-shadow, border-color 0.15s;
  &:focus:not([readonly]) {
    border-color: #26a69b !important;
    box-shadow: 0 1px 0 0px #26a69b;
  }

  label {
    left: 27px;
    display: inline-flex;
    width: auto !important;
    &.active {
      background: white;
      border-left: 4px solid white;
      border-right: 4px solid white;
      transform: translateY(-1.75rem);
      top: 1rem;
    }
  }
}
